 @use "../utilities/variables" as *;
 @use "../utilities/extend" as *;
 @use "../utilities/mixin" as *;

.contenedorGaleria {
  @include flex(column, null, start, null, 3rem, $blanco);
  width: 100%;

  h1 {}

  .galH2 {
    margin-bottom: 2rem;
    color: $naranja;
  }

  .galeria {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, auto); // Cambiado a 3 filas para acomodar el texto arriba
        grid-template-areas:
          "texGal texGal texGal"
          "img1   img2   img4"
          "img3   img5   img4";
        padding: 3rem;
        gap: 1.5rem;
        align-items: center;
        width: 100%;
        background-color: #ff461c6b;
        border-radius: 4rem;

        // Estilos compartidos para las imágenes
        [class^="imgGal"] {
          overflow: hidden;

          img {
            transition: all 1s;

            &:hover {
              transform: $tranformacion;
            }
          }
        }

        // Áreas de Grid (Asegúrate de poner la clase de tu <h3> aquí)
        .tituloGal { grid-area: texGal; } 
        .imgGal1 { grid-area: img1; }
        .imgGal2 { grid-area: img2; }
        .imgGal3 { grid-area: img3; }
        .imgGal4 { grid-area: img4; }
        .imgGal5 { grid-area: img5; }

        /* Media Query Tablet */
        @media (min-width: 501px) and (max-width: 1023px) {
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(4, auto); // Subido a 4 filas para el texto
          grid-template-areas:
            "texGal texGal"
            "img1   img4"
            "img3   img4"
            "img2   img5";
          background-color: #0a52b1a6;
          border-radius: 2rem;
        }

        /* Media Query Mobile */
        @media (max-width: 500px) {
          grid-template-columns: 1fr;
          grid-template-rows: repeat(6, auto); // Subido a 6 filas para el texto
          grid-template-areas:
            "texGal"
            "img1"
            "img2"
            "img3"
            "img5"
            "img4";
          background-color: $verdemanzana;
          border-radius: 2rem;
        }
      }
}